/* ===============ПОДКЛЮЧЕНИЯ=============== */

@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* ===============СКАЧЕННЫЕ ШРИФТЫ=============== */

/* ===============WRAPPER=============== */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

/* ===============INDEX=============== */

[class*="__container"] {
    max-width: 1020px;
    margin: 0 auto;
}

.premier-block {
    background: url("../img/premier_dog_bg.webp") center/cover no-repeat;
    position: relative;
}
.premier-block__container {
    padding: 26px 0 312px 0;
}
.header {
    position: relative;
    min-height: 40px;
    margin-bottom: 30px;
}
.header__logo {
    position: absolute;
    left: 0;
    right: 0;
}
.header__work-time {
    position: absolute;
    left: 412px;
    right: 0;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.15px;
}
.header__work-time::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/icon/clock.svg") center/cover no-repeat;
    margin-left: -31px;
    margin-bottom: -12px;
}
.header__phone-number {
    position: absolute;
    left: 649px;
    right: 0;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.15px;
    padding-left: 34px;
}
.header__phone-number::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/icon/phone_call.svg") center/cover no-repeat;
    margin-left: -31px;
    margin-bottom: -12px;
}
.header__button {
    position: absolute;
    left: 807px;
    right: 0;
}
.button {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.15px;
    text-align: center;
    background-color: #f2726f;
    padding: 15px 35px;
    border-radius: 8px;
}
.navigation {
    background-color: #fff;
    padding: 23px 40px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 126px;
}
.navigation__link {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.15px;
    font-weight: 700;
    margin-right: 37px;
}
.navigation__link:nth-child(6) {
    margin-right: 0;
}
.navigation__link_pseudo {
    position: relative;
}
.navigation__link_pseudo::after {
    position: absolute;
    top: 7px;
    margin-left: 7px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 7px;
    background: url("../img/icon/arrow_bottom.svg") center/cover no-repeat;
}
.navigation__search {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/icon/search.svg") center no-repeat;
    position: absolute;
    top: 20px;
    right: 94px;
}
.navigation__shopping-cart {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/icon/shopping_cart.svg") center no-repeat;
    position: absolute;
    top: 20px;
    right: 50px;
}
.premier-block__title {
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    max-width: 583px;
    margin-bottom: 65px;
}
.button_shadow {
    box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

/* =============================== */

.nemo {
    background-color: #f5f5f5;
    padding-bottom: 150px;
}
.nemo__container {
    background: #5d62b5 url("../img/blob.png") left 250px no-repeat;
    border-radius: 40px;
    position: relative;
}
.nemo__content {
    max-width: 846px;
    margin: 0 auto;
    margin-top: -80px;
    padding: 100px 0 0 0;
    max-height: 700px;
}
.nemo__content::before {
    content: "";
    display: inline-block;
    width: 201px;
    height: 317px;
    background: url("../img/icon/circles.svg");
    position: absolute;
    left: 900px;
    top: -110px;
}
.nemo__subtitle {
    font-size: 12px;
    line-height: 2;
    font-weight: 700;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: relative;
    padding-left: 33px;
    margin-bottom: 33px;
}
.nemo__subtitle::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("../img/icon/mark.svg") center no-repeat;
    position: absolute;
    top: 4px;
    left: 0;
}
.nemo__title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 900;
    color: #fff;
    max-width: 583px;
    margin-bottom: 36px;
}
.nemo__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #f5f5f5;
    margin-bottom: 54px;
}
.nemo__picture {
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: -300px;
    box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

/* =============================== */

.promise {
    background-color: #f5f5f5;
}
.promise__container {
    padding: 90px 0 120px 0;
}
.promise__container div:last-child {
    margin-right: 0;
}
.promise__subtitle {
    color: #5d62b5;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding-left: 33px;
    position: relative;
    margin-bottom: 40px;
}
.promise__subtitle::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("../img/icon/mark_dark.svg") center no-repeat;
    position: absolute;
    top: 4px;
    left: 0;
}
.promise__title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 68px;
}
.card-promis {
    padding: 4px 3px 1px 86px;
    max-width: 324px;
    display: inline-block;
    margin-right: 20px;
}
.card-promis__title {
    color: #f2726f;
    font-size: 19px;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 20px;
}
.card-promis__info {
    color: #4b4b4b;
    font-size: 16px;
    line-height: 1.5;
}
.card-promis_one {
    background: url("../img/icon/heart.svg") no-repeat;
}
.card-promis_two {
    background: url("../img/icon/veterinarian_with_dog.svg") no-repeat;
}
.card-promis_three {
    background: url("../img/icon/dog_stream.svg") no-repeat;
}

/* =============================== */

.ball {
    min-height: 500px;
    background: url("../img/dog_ball.png") -20px bottom no-repeat, url("../img/blob_ball.svg") left top no-repeat,
        url("../img/icon/circles.svg") left 100px no-repeat;
    background-color: #29c3be;
    padding-top: 112px;
    overflow: hidden;
}
.ball__content {
    max-width: 411px;
    margin: 0 0 0 auto;
    position: relative;
}
.ball__content::before {
    content: "";
    display: inline-block;
    width: 600px;
    height: 500px;
    background: url("../img/line.png") no-repeat;
    position: absolute;
    z-index: 0;
    top: -130px;
    left: -60px;
}
.ball__content::after {
    content: "";
    display: inline-block;
    width: 114px;
    height: 114px;
    background: url("../img/ball.png");
    position: absolute;
    top: 0;
    left: 450px;
}
.ball__title {
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    font-weight: 900;
    margin-bottom: 45px;
    position: relative;
}
.ball__button {
    position: relative;
}

/* =============================== */

.impact {
    background-color: #29c3be;
}
.impact__container {
    background: url("../img/blob_impact.png") 400px 0px no-repeat;
    padding-top: 112px;
    position: relative;
}
.impact__subtitle {
    font-size: 12px;
    line-height: 2;
    font-weight: 700;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: relative;
    padding-left: 33px;
    margin-bottom: 33px;
}
.impact__subtitle::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("../img/icon/mark.svg") center no-repeat;
    position: absolute;
    top: 4px;
    left: 0;
}
.impact__title {
    font-size: 36px;
    line-height: 1.2;
    max-width: 411px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 75px;
}
.card-impact {
    padding: 4px 58px 1px 87px;
    min-height: 76px;
    display: inline-block;
    margin-right: 10px;
}
.card-impact__number {
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    font-weight: 900;
}
.card-impact__text {
    font-size: 16px;
    line-height: 1.5;
    color: #5d62b5;
    font-weight: 700;
}
.card-impact_one {
    background: url("../img/icon/impact_card_1.svg") no-repeat;
}
.card-impact_two {
    background: url("../img/icon/impact_card_2.svg") no-repeat;
}
.card-impact_three {
    background: url("../img/icon/impact_card_3.svg") no-repeat;
}
.card-impact_four {
    background: url("../img/icon/impact_card_4.svg") no-repeat;
    margin-bottom: 134px;
}
.impact__picture {
    overflow: hidden;
    border-radius: 40px;
    position: absolute;
    top: -80px;
    right: 0;
}
.impact__sed {
    position: relative;
    bottom: -70px;
}
.sed {
    background-color: #5d62b5;
    padding: 45px 70px;
    border-radius: 20px;
    position: relative;
}
.sed__text {
    font-size: 24px;
    line-height: 1.25;
    color: #fff;
    font-weight: 900;
    max-width: 526px;
}
.sed__button {
    position: absolute;
    top: 50px;
    right: 70px;
}
